<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ site.title }}{% if title %} | {{ title }}{% endif %}</title>
    <meta name="description" content="{{ description or site.description }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | getHashedFileName }}">
    <link rel="stylesheet" href="{{ '/css/glider.css' | getHashedFileName }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  </head>
  <body>
    {{ content | safe }}

    <svg id="arrows" viewBox="0 0 40 42" height="42">
      <path d="M0 10 L20 32 L40 10"></path>
      <path d="M0 20 L20 42 L40 20"></path>
    </svg>

    <script src="{{ '/js/glider.js' | getHashedFileName }}"></script>

    <script>
      function supWebp() {
        var c = document.createElement('canvas');

        if (c.getContext && c.getContext('2d'))
          return c.toDataURL('image/webp').indexOf('data:image/webp') == 0;
        else
          return false;
      }

      document.addEventListener("DOMContentLoaded", function() {
        if ("IntersectionObserver" in window) {
          const lazyloadImages = document.querySelectorAll("[data-bg]");

          var imageObserver = new IntersectionObserver(function(entries) {
            entries.forEach(function(entry) {
              if (entry.isIntersecting) {
                var image = entry.target;
                image.style.backgroundImage = `url('${supWebp() ? image.dataset.bg : image.dataset.bgjpeg}'`;
                imageObserver.unobserve(image);
              }
            });
          });

          lazyloadImages.forEach(function(image) {
            imageObserver.observe(image);
          });

          let endObserver = new IntersectionObserver(entries => {
            if (entries[0].isIntersecting)
              document.getElementById("arrows").style.display = "none";
            else
              document.getElementById("arrows").style.display = "block";
          });

          endObserver.observe(document.querySelector("footer"));
        }
      });
    </script>

    <script async defer src="https://scripts.withcabin.com/hello.js"></script>
  </body>
</html>
