/*https://colorhunt.co/palette/191a191e51284e9f3dd8e9a8*/
:root {
  --color-primary: #66FF66;
  --font-color: #e6e3e9;
  --bold-color: #F88379;
  --bg-color: #191A19;
  --bg-secondary-color: #1E5128;
  --font-size: 1.8rem;
}

@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url("/fonts/Nunito.woff2") format("woff2"), url("/fonts/Nunito.woff") format("woff"), url("/fonts/Nunito.ttf") format("truetype");
  unicode-range: U+0-FF,U+131,U+152,U+153,U+2BB,U+2BC,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

body {
  text-rendering: optimizeSpeed;
  font-family: Nunito, system-ui, sans-serif;
  font-size: clamp(1.6rem, 2.5vw, 1.9rem);
}

body, html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth
}

section {
  min-height: 100vh;

  scroll-snap-align: start;

  display: flex;

  /* For zoom images */
  overflow-x: hidden;
}

section > div {
  width: min(100vw - 3rem, 85ch);

  margin: auto;
  padding: 1.5rem clamp(1.5rem, 4%, 3rem);
}

section > .glider-container {
  padding: 1.5rem clamp(2.3rem, 4%, 3rem);
}

section > div:not(.glider-container) {
  display: flex;
  flex-flow: column;
}

[data-bg] {
  background-position: center;
  background-size: cover;
}

[data-bg] > div {
  border-radius: 5rem;
  background-color: rgba(0, 0, 0, 0.8);
}

section picture {
  align-self: center;
  justify-self: center;
}

section img:not(.profile) {
  max-height: 40vh;
  width: auto;
}

strong {
  color: var(--bold-color);
}

a {
  font-weight: bolder;
  text-decoration: underline;
}

img {
  filter:
    drop-shadow(0.15rem 0.15rem 0.1rem var(--color-darkGrey));
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
  text-align: center;
}

h1 {
  font-size: clamp(2.4rem, 4vw + 1rem, 3rem);
}

h2 {
  font-size: clamp(1.9rem, 4vw + 0.5rem, 2.5rem);
}

h3 {
  font-size: clamp(1.4rem, 4vw + 0.1rem, 2rem);
}

h1 + h2,
h2 + h2,
section div > h2:first-child,
section div > h3:first-child {
  margin-top: 0;
}
section div > p:last-child {
  margin-bottom: 0;
}

/* Arrows */
#arrows {
  bottom: 1.5rem;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  filter:
    drop-shadow(0.03rem 0.03rem 0.15rem var(--color-darkGrey));
}

#arrows path {
  stroke: var(--bold-color);
  fill: transparent;
  stroke-width: 1px;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

#arrows path:first-child {
  animation: arrow 3s infinite;
}

@media (prefers-reduced-motion: reduce) {
  #arrows path:first-child {
    animation: none;
  }
}


/* SVG */

svg {
  fill: none;
  stroke-width: 2;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}
