---
eleventyExcludeFromCollections: true
permalink: .htaccess
---
ErrorDocument 404 /404.html

# One year for image files
<filesMatch ".(jpg|jpeg|png|webp|gif|ico)$">
  Header set Cache-Control "max-age=31536000, public"
</filesMatch>

# One month for css and js
<filesMatch ".(css|js)$">
  Header set Cache-Control "max-age=2628000, public"
</filesMatch>
